---
permalink: /
---
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% if page.title %}{{ page.title }}{% else %}{{ page.title }}{% endif %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ page.description }}">
        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: page.baseurl | prepend: page.url }}">
        {% if page.favicon_img %}
        <link rel="shortcut icon" href="{{ page.favicon_img_path }}" />
        {% endif %}
        <link rel="stylesheet" href="{{ "css/front.css" | prepend: page.baseurl }}">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="content">
            {% if page.front_img %}
            <img src="{{ page.front_img_path }}" id="fullscreen">
            {% endif %}

            {% if page.avatar %}
                <img src="{{ page.avatar_img_path }}" id="avatar">
            {% endif %}

            <h1>{{ page.full_name }}</h1>
            <h3>{{ page.description }}</h3>

                <ul>
                    {% if page.github_username %}
                    <li><a class="fa fa-2x fa-github" href="https://github.com/{{ page.github_username }}"><span class="description">GitHub</span></a></li>
                    {% endif %}

                    {% if page.codepen_username %}
                    <li><a class="fa fa-2x fa-codepen" href="https://codepen.io/{{ page.codepen_username }}"><span class="description">CodePen</span></a></li>
                    {% endif %}

                    {% if page.facebook_username %}
                    <li><a class="fa fa-2x fa-facebook" href="https://facebook.com/{{ page.facebook_username }}"><span class="description">Facebook</span></a></li>
                    {% endif %}

                    {% if page.vk_username %}
                    <li><a class="fa fa-2x fa-vk" href="https://vk.com/{{ page.vk_username }}"><span class="description">ВКонтакте</span></a></li>
                    {% endif %}

                    {% if page.twitter_username %}
                    <li><a class="fa fa-2x fa-twitter" href="https://twitter.com/{{ page.twitter_username }}"><span class="description">Twitter</span></a></li>
                    {% endif %}

                    {% if page.google_plus_username %}
                    <li><a class="fa fa-2x fa-google-plus" href="https://plus.google.com/+{{ page.google_plus_username }}"><span class="description">Google +</span></a></li>
                    {% endif %}

                    {% if page.linkedin_username %}
                    <li><a class="fa fa-2x fa-linkedin" href="https://linkedin.com/in/{{ page.linkedin_username }}"><span class="description">LinkedIn</span></a></li>
                    {% endif %}

                    {% if page.vine_username %}
                    <li><a class="fa fa-2x fa-vine" href="https://vine.co/{{ page.vine_username }}"><span class="description">Vine</span></a></li>
                    {% endif %}

                    {% if page.instagram_username %}
                    <li><a class="fa fa-2x fa-instagram" href="https://instagram.com/{{ page.instagram_username }}"><span class="description">Instagram</span></a></li>
                    {% endif %}

                    {% if page.flickr_usernmae %}
                    <li><a class="fa fa-2x fa-flickr" href="https://flickr.com/photos/{{ page.flickr_username }}"><span class="description">Flickr</span></a></li>
                    {% endif %}

                    {% if page.steam_username %}
                    <li><a class="fa fa-2x fa-steam" href="http://steamcommunity.com/id/{{ page.steam_username }}"><span class="description">Steam</span></a></li>
                    {% endif %}

                    {% if page.soundcloud_username %}
                    <li><a class="fa fa-2x fa-soundcloud" href="https://soundcloud.com/{{ page.soundcloud_username }}"><span class="description">Soundcloud</span></a></li>
                    {% endif %}

                    {% if page.lastfm_username %}
                    <li><a class="fa fa-2x fa-lastfm" href="http://www.last.fm/user/{{ page.lastfm_username }}"><span class="description">Last.fm</span></a></li>
                    {% endif %}

                    {% if page.stack_of_username %}
                    <li><a class="fa fa-2x fa-stack-overflow" href="https://stackoverflow.com/users/{{ page.stack_of_username }}"><span class="description">Stack OF</span></a></li>
                    {% endif %}

                    {% if page.reddit_username %}
                    <li><a class="fa fa-2x fa-reddit" href="https://reddit.com/user/{{ page.reddit_username }}"><span class="description">Reddit</span></a></li>
                    {% endif %}

                    {% if page.medium_username %}
                    <li><a class="fa fa-2x fa-medium" href="https://medium.com/@{{ page.medium_username }}"><span class="description">Medium</span></a></li>
                    {% endif %}

                    {% if page.tumblr_username %}
                    <li><a class="fa fa-2x fa-tumblr" href="https://{{ page.tumblr_username }}.tumblr.com/"><span class="description">Tumblr</span></a></li>
                    {% endif %}

                    {% if page.weibo_username %}
                    <li><a class="fa fa-2x fa-weibo" href="https://weibo.com/{{ page.weibo_username }}"><span class="description">微博</span></a></li>
                    {% endif %}

                    {% if page.blog_url %}
                    <li><a class="fa fa-2x fa-tags" href="{{ page.baseurl }}{{ page.blog_url }}"><span class="description">Blog</span></a></li>
                    {% endif %}

                    {% if page.email %}
                    <li><a class="fa fa-2x fa-envelope" href="mailto:{{ page.email }}"><span class="description">Email</span></a></li>
                    {% endif %}

                    {% if page.public_key_url %}
                    <li><a class="fa fa-2x fa-key" href="{{ page.public_key_url }}"><span class="description">PGP Key</span></a></li>
                    {% endif %}
                </ul>
        </div>

    </body>
</html>
